<%- include('../include/admin_header', { title: 'Flybees' }) %>

<%- include('../include/adminNAV') %>

    <header class="topbar-nav">
      <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link toggle-menu" href="">
              <i class="icon-menu menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <form class="search-bar">
              <input type="text" class="form-control" placeholder="Enter keywords">
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <div class="content-wrapper">
      <div class="container-fluid" >
        <div class="col-lg-9">
          <form action="" method="post" enctype="multipart/form-data">
           
            <div class="card-body">
  
              <div class="row align-items-center pt-4 pb-3">
                <!-- <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Category ID</h6>
                </div> -->
                <div class="col-md-9 pe-5">
                  <input type="text" class="form-control form-control-lg" value="<%=check._id %>" name="categoryid"/>
                </div>
              </div>
  
              <!-- <hr class="mx-n3"> -->
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Category Name</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" class="form-control form-control-lg" value="<%=check.categoryName %>" name="categoryName" />
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Category Description</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <textarea class="form-control" rows="3" name="description"><%=check.description %></textarea>
                </div>
              </div>
  
              <hr class="mx-n3">
              
              <div style="display: flex;">

                <div class="col-md-3 ps-5" style="flex: 1;" >
    
                  <h6 class="mb-0" >Category Image upload</h6>
                 
                   
                </div>
                    
                      <img src="/uploads/<%=check.image %>" width="100"  style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; margin-left: 10px;margin-top: -20px;">
                       <!-- <a href="/admin/category/deleteimage?catImg=<%=check.image %>" class="btn btn-outline-danger" style="margin-top: 10px;"><i class="fa fa-remove" style="font-size:15px"></i></a>  -->

                   
                 
                  
                <div style="flex: 1;">
                <input class="form-control" name="file"  type="file" id="formFileMultiple" multiple />
              </div>
              </div>
  
                <hr class="mx-n3">
  
              <div class="px-5 py-4 text-center">
                <button type="submit" class="btn btn-outline-primary btn-lg">Submit</button>
              </div>
  
            </div>
        </form>
        </div>
      </div><!-- End Row -->

      <!-- Start Back To Top Button -->
      <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    </div><!-- End content-wrapper -->


  </div><!-- End wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- simplebar js -->
  <script src="/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="/js/sidebar-menu.js"></script>

  <!-- Custom scripts -->
  <script src="/js/app-script.js"></script>

</body>

</html>
