<%- include('../include/login-header', { title: 'Flybees' }) %>
<link rel="stylesheet" type="text/css" href="/css/outer.css">
<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>

	<section>
		<div class="leaves">
			<div class="set">
				<div><img src="/images/leaf_01.png"></div>
				<div><img src="/images/leaf_02.png"></div>
				<div><img src="/images/leaf_03.png"></div>
				<div><img src="/images/leaf_04.png"></div>
				<div><img src="/images/leaf_01.png"></div>
				<div><img src="/images/leaf_02.png"></div>
				<div><img src="/images/leaf_03.png"></div>
				<div><img src="/images/leaf_04.png"></div>
			</div>
		</div>
		<img src="/images/bg.jpg" class="bg">
		<img src="/images/girl.png" class="girl">
		<img src="/images/trees.png" class="trees">
		<div class="login">
					    <div class="login-snip">
					        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
					        <label for="tab-1" class="tab">Login</label>
					        <input id="tab-2" type="radio" name="tab" class="sign-up">
					        <label for="tab-2" class="tab">Sign Up</label>
					        <div class="login-space">
						<div class="text-center">
							
                                <div class="login">
						    <!-- Login Form -->
						    <form action="user_login" method="post">

							<% if (locals.message) { %>
								<div>
								    <p class="text-danger"><%= message %></p>
								</div>
								<% if (locals.passwordMessage) { %>
								    <div>
								        <p class="text-success"><%= message %></p>
								    </div>
								<% } %>
							        <% } %>
							        <!-- <img src="/images/favicon.png" alt="logo icon"> -->
						        <div class="group">
							<label for="login-user" class="label">Email</label>
							<input id="login-user" name="email" type="text" class="input" placeholder="Enter your Email">
						        </div>
						        <div class="group">
							<label for="login-pass" class="label">Password</label>
							<input id="login-pass" name="password" type="password" class="input" data-type="password" placeholder="Enter your password">
						        </div>
						        <div class="group">
							<input type="submit" class="button" value="Sign In">
						        </div>
						    </form>
						    <!-- End Login Form -->
                            
						
						    <div class="foot">
						        <a href="forgot" id="forgotPasswordLink">Forgot Password?</a>
						    </div>
						
						</div>
						<!-- Sign-up Form -->
						<div class="sign-up-form">
						    <form action="/register" method="post">
							<% if (locals.message) { %>
								<div>
								    <p class="text-danger"><%= message %></p>
								</div>
							        <% } %>
						      
						        <div class="group">
							<label for="signup-user" class="label">Username</label>
							<input id="signup-user" name="name" type="text" class="input" placeholder="Enter your Username">
						        </div>
						        <div class="group">
							<label for="signup-email" class="label">Useremail</label>
							<input id="signup-email" name="email" type="email" class="input" placeholder="Create your Useremail">
						        </div>
						        <div class="group">
							<label for="signup-pass" class="label">Password</label>
							<input id="signup-pass" name="password" type="password" class="input" data-type="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Create your password">
						        </div>
						        <div class="group">
							<label for="repeat-pass" class="label">Repeat Password</label>
							<input id="repeat-pass" name="repeatPassword" type="password" class="input" data-type="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required placeholder="Repeat your password">
						        </div>
						        <div class="group">
							<label for="number" class="label">Phone Number</label>
							<input id="number" name="mobile" type="text" class="input" placeholder="Enter your phone number">
						        </div>
						        <div class="group">
							<input type="submit" class="button" value="Sign Up">
							<div class="foot">
							    <a href="/user_login">Already Member?</a>
							</div>
						        </div>
						    </form>
				
					        </div>
					    </div>
					</div>
				        

				   
			
			        </div>
	
		
	</section>

	<%- include('../include/login-footer') %>